/* CSS Document */



hero {
	display: flex;
	flex-flow: column;
	align-self: stretch;
	align-items: center;
	justify-content: center;
    text-align: center;
	
}

#firstHero {
    height: 35em;    
}

#secondHero {
    padding-top: 90px;
    padding-bottom: 100px;
    background-image: url("images/RedTexture.jpg");
}

textWidthController{
    max-width: 670px;
    padding-left: 30px;
    padding-right: 30px;
}



.bigText{
	flex-flow: row;
	justify-content: center;
	align-content: center;
	font-size: 50px;
    font-weight: 300;
	color: #464646;
    padding-bottom: 30px;
}

.smaller{font-size: 35px;
    padding-bottom: 10px;
}

.light {
	color: white;
}

.mediumText {
	font-size: 120%;
	text-align: center;
    padding-top: 10px;
}

header {
	display: flex;
    flex-flow: column;
    align-content: center;
    text-align: center;
	justify-content: center;
	
}

.section {
    display: flex;
	flex-flow: column;
	align-self: stretch;
	align-items: center;
	justify-content: center;
    text-align: center;
	align-content: center;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
    padding-top: 2em;
}

.boxContainer {
	display: flex;
	flex-flow: row;
	align-self: center;
    padding-top: 40px;
    max-width: 1200px;
}

.box{
	display: flex;
	flex-flow: column;
	flex: 1;
	background-color: white;	
	padding: 30px 20px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	align-items: center;
}



.boxTitle{
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	color: #464646;
    padding-top: 50px;
    padding-bottom: 20px;
}

circle{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: grey;
	margin: 20px;
    
}

.appBoxContainer {
	display: flex;
	flex-flow: column;
	align-self: center;
    padding-top: 30px;
    max-width: 1000px;
}

.appProcessBoxTextFirst{
    display: flex;
	flex-flow: row;
	flex: 1;
	background-color: white;	
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
	margin: 10px;
	border-radius: 5px;
	justify-content: space-between;
}

.appProcessBoxTextSecond{
    display: flex;
	flex-flow: row;
	flex: 1;
	background-color: white;	
	padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
	margin: 10px;
	border-radius: 5px;
	justify-content: space-between;
}

.appIconBox{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.appBoxTitle{
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	color: #464646;
    padding-top: 20px;
    padding-bottom: 20px;
}
.appProcessText{
    display: flex;
    flex-flow: column;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 8;
}


heroImageContainerLeft {
    position: absolute;
    left: -120px;
    top: 90px;
    max-width: 700px;
}

heroImageContainerRight {
    position: absolute;
    right: -40px;
    top: 120px;
    width: 400px;
}

@media only screen and (max-width: 1400px) {
    .boxContainer{
        flex-flow: column;
    }
    .box{
        max-width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .appProcessBoxTextFirst {
        flex-flow: column-reverse;
        align-items: stretch;
        align-self: stretch;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .appProcessBoxTextSecond {
        flex-flow: column;
        align-items: stretch;
        align-self: stretch;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .bigText{
        font-size: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .mediumText {
        font-size: 20px;
    }
    
    #firstHero{
        height: 30em;
    }
    
}

.boxText {
    margin: 0;
    font-size: 16px;
}

.bottomMostElement {
    padding-top: 50px;
    padding-bottom: 150px;
}