/* CSS Document */

#pageContent{
	display: flex;
	flex-flow: column;
	align-self: stretch;
	align-items: center;
}


hero {
	display: flex;
	flex-flow: column;
	align-self: stretch;
	align-items: center;
	justify-content: center;
	height: 30em;
}



.bigText{
	flex-flow: row;
	justify-content: center;
	align-content: center;
	font-size: calc(15px + 3vw);
	color: #464646;
}

.light {
	color: white;
}

.mediumText {
	width: 50%;
	font-size: 120%;
	
}

header {
	display: flex;
	justify-content: center;
	
}

.section {
	display: flex;
	flex-flow: column;
	align-self: stretch;
	align-content: center;
	background-color: #E5E5E5;
	justify-content: center;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.boxContainer {
	display: flex;
	flex-flow: row;
	align-self: center;
	
}

.box{
	display: flex;
	flex-flow: column;
	flex: 1;
	background-color: white;	
	padding: 30px 20px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	
}



.boxTitle{
	font-weight: bold;
	font-size: calc(10px + 0.5vw);
	margin: 0;
	color: #464646;
}

circle{
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	background-color: grey;
	margin-bottom: 20px;
}


