@charset "utf-8";
/* CSS Document */

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 0px;
}


.usualButton {
	display: flex;
	padding: 0.5em 0.5em;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
	align-self: center;
	background-color: #EF0000;
	color: white;
	text-decoration: none;
	
	
}

#headings{
	display: flex;
	background-color: #ef0000;
	height: 5em;
	align-items: center;
}

#logo{
	display: flex;
	color: #ffffff;
	padding-left: 30px;
	
	
}

.navi{
	display: flex;
	padding-right: 30px;
	margin-left: auto;
	
}

.navi li{
	display: flex;
	padding: 0.5em 0.5em;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
	margin-left: 15px;
	align-self: center;
	background-color: #ffffff;
	
	
}

.navi a{
	text-decoration: none;
}



