@charset "utf-8";
/* CSS Document */

body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 0px;
	display: flex;
	flex-flow: column;
	align-content: stretch;
}


.usualButton {
	display: flex;
	padding: 0.5em 0.5em;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
	align-self: center;
	background-color: #EF0000;
	color: white;
	text-decoration: none;
	
	
}

#headings{
	display: flex;
	flex-flow: row;
	align-content: stretch;
	justify-content: center;
	background-color: #ef0000;
	height: 5em;
}

navbar {
	display: flex;
	justify-content: space-between;
}

#logo{
	display: flex;
	color: #ffffff;
}

.navi{
	display: flex;
	
}

.navi li{
	display: flex;
	padding: 0.5em 0.5em;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
	margin-left: 15px;
	align-self: center;
	background-color: #ffffff;
	color: #464646;
	
	
}

.navi a{
	text-decoration: none;
}

.widthControl{
	width: 70%;
}

@media only screen and (max-width: 1200px) {
	.widthControl {
		width: 95vw;
	}
}

@media only screen and (max-width: 600px) {
	#headings {
		height: 10em;		
	}
	
	navbar {
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 10px;
		text-align: center;
	}
}
