@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
  url('fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('Open-Sans-SemiBold'),
  url('fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
  url('fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body{
	font-family: Open Sans, Verdana, "sans-serif";
	margin: 0px;
	display: flex;
	flex-flow: column;
	align-content: stretch;
}


.headingContainerProgressLine {
    display: flex;
    flex-flow: column;
    background-color: #EBEBEB;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9;
}



#headings{
	display: flex;
	flex-flow: row;
	align-content: stretch;
	justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

burgerDiv {
    display: none;
}

burgerMenu {
    display: none;
}
navbar {
	display: flex;
	justify-content: space-around;
    flex-flow: row;
}



.navi{
	display: flex;
	padding: 0.5em 0.5em;
    font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-indent: 0.1rem;
	align-self: center;
	color: #464646;
	text-decoration: none;
	
	
}

.navi a{
	text-decoration: none;
    color: black;
}

linksLeft{
    display: flex;
    flex-flow: row;
    align-content: space-around;
}

linksRight{
    display: flex;
    flex-flow: row;
    align-content: space-around;
}

logoContainer {
    display:flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    color: #00000;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

logoContainer p{
    font-weight: 400;
}

.widthControl{
	width: 70%;
}

.burgerMenuShown {
    display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
}




@media only screen and (max-width: 1400px) {
	.widthControl {
		width: 95vw;
	}
    heroImageContainerLeft {
        display: none;
    }
    heroImageContainerRight {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    #headings{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    logocontainer img {
        width: 250px;
    }
    
    burgerDiv{
        display: flex;
        padding-right: 20px;
    }
    
	navbar {
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;
		text-align: center;
	}
    
    #desktopNavi {
        display: none;
    }
    
    logoContainer {
        padding-left: 20px;
    }
    
    
    
    
}

#gradientBackground {
    background: linear-gradient(#EBEBEB, white);
}

