@charset "utf-8";
/* CSS Document */

.pageContent {
	display: flex;
	justify-content: space-between;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	
}

leftItems {
	display: flex;
	flex-flow: column;
	flex-grow: 2;
	margin-right: 5em;
	
}


profileItems{
	display: flex;
	flex-flow: row;
	background-color: lightgrey;
	
	
}

#mainProfilePicture {
	width: 10em;
}



#profileText {
	display: flex;
	flex-flow: column;
	padding-left: 40px;
justify-content: flex-start;
	align-items: flex-start;
	
}

statusProgress {
	display: flex;
	flex-flow: column;
	max-height: 100vh;
	justify-content: space-between;
	background-color: lightgrey;
	padding: 20px;
}

buddyFeed {
	margin-top: 2em;
	padding: 20px;
	display: flex;
	flex-flow: column;
	background-color: lightgrey;
}




