@charset "utf-8";
/* CSS Document */

.pageContent {
	display: flex;
	justify-content: space-between;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	
}

leftItems {
	display: flex;
	flex-flow: column;
	flex-grow: 2;
	margin-right: 5em;
	
}

profileItems {
	display: flex;
	flex-flow: column;
	background-color: lightgrey;
	padding: 20px;
	
	
}

statusProgress {
	display: flex;
	flex-flow: column;
	background-color: lightgrey;
	padding: 20px;
}

buddyFeed {
	margin-top: 2em;
	padding: 20px;
	display: flex;
	flex-flow: column;
	background-color: lightgrey;
}

